    <!--секція about-->
<section id="about" class="about">
  <div class="about-textcont">
    <div class="about-overlay"></div>

    <!-- Контейнер з текстом -->
    <div class="container">
      <div class="about-content">
        <h2 class="about-title">Природність</h2>
        <h3 class="about-subtitle">Турбота про планету</h3>
        <p class="about-text">
          Ми використовуємо органічну бавовну, перероблений пластик, льон та коноплі для наших сумок.
        </p>
      </div>
    </div>
  </div>
</section>