<section class="advantages" id="advantages">
    <div class="container">
        <div class="advantages-title-block">
            <h3 class="advantages-subtitle">Переваги</h3>
            <h2 class="advantages-title">Чому обрати нас?</h2>
            <p class="advantages-description">Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують
                стійкість і
                довговічність. Обираючи <span lang="en">EcoTote</span>,
                ви підтримуєте екологічну відповідальність.</p>
        </div>
        <ul class="advantages-list">
            <li class="advantages-item">
                <picture class="advantages-itempic">
                    <source srcset="/img/advantages/advantage-1-1x.jpg 1x, /img/advantages/advantage-1-2x.jpg 2x"
                        media="(min-width: 1440px)">
                    <source
                        srcset="/img/advantages/advantage-1-tab-1x.jpg 1x, /img/advantages/advantage-1-tab-2x.jpg 2x"
                        media="(min-width: 768px)">
                    <source
                        srcset="/img/advantages/advantage-1-mob-1x.jpg 1x, /img/advantages/advantage-1-mob-2x.jpg 2x"
                        media="(max-width: 767px)">
                    <img src="/img/advantages/advantage-1.jpg" alt="Sustainability and environmental friendliness">
                </picture>
                <h3 class="advantages-itemtitle">Стійкість та екологічність</h3>
                <p class="advantages-itemdescription">Виготовлені з органічної бавовни та переробленого пластику.</p>
            </li>
            <li class="advantages-item">
                <picture class="advantages-itempic">
                    <source srcset="/img/advantages/advantage-2-1x.jpg 1x, /img/advantages/advantage-2-2x.jpg 2x"
                        media="(min-width: 1440px)">
                    <source
                        srcset="/img/advantages/advantage-2-tab-1x.jpg 1x, /img/advantages/advantage-2-tab-2x.jpg 2x"
                        media="(min-width: 768px)">
                    <source
                        srcset="/img/advantages/advantage-2-mob-1x.jpg 1x, /img/advantages/advantage-2-mob-2x.jpg 2x"
                        media="(max-width: 767px)">
                    <img src="/img/advantages/advantage-2.jpg" alt="Strength and durability">
                </picture>
                <h3 class="advantages-itemtitle advantages-itemtitle-tab">Міцність і довговічність</h3>
                <p class="advantages-itemdescription">Наші сумки мають посилені шви для тривалого використання.</p>
            </li>
            <li class="advantages-item">
                <picture class="advantages-itempic">
                    <source srcset="/img/advantages/advantage-3-1x.jpg 1x, /img/advantages/advantage-3-2x.jpg 2x"
                        media="(min-width: 1440px)">
                    <source
                        srcset="/img/advantages/advantage-3-tab-1x.jpg 1x, /img/advantages/advantage-3-tab-2x.jpg 2x"
                        media="(min-width: 768px)">
                    <source
                        srcset="/img/advantages/advantage-3-mob-1x.jpg 1x, /img/advantages/advantage-3-mob-2x.jpg 2x"
                        media="(max-width: 767px)">
                    <img src="/img/advantages/advantage-3.jpg" alt="Stylish and modern design">
                </picture>
                <h3 class="advantages-itemtitle">Стильний та сучасний дизайн</h3>
                <p class="advantages-itemdescription">Мінімалістичні моделі в обмежених серіях для кожного стилю.</p>
            </li>
        </ul>
    </div>
</section>