<section id="reviews" class="feedback-section">
    <div class="container">
        <h2 class="feedback-section-header">Що говорять наші клієнти</h2>
        <ul class="feedback-list">
            <li class="feedback-item">
                <ul class="feedback-item-grade">
                    <li>
                    <span class="feedback-star">
                        <svg class="feedback-star-content" width="20" height="20">
                            <use href="/img/sprite.svg#icon-filled-star"></use>
                        </svg>
                    </span>
                </li>
                    <li>
                    <span class="feedback-star">
                        <span class="feedback-star">
                            <svg class="feedback-star-content" width="20" height="20">
                                <use href="/img/sprite.svg#icon-filled-star"></use>
                            </svg>
                        </span>
                    </span>
                </li>
                    <li>
                    <span class="feedback-star">
                            <svg class="feedback-star-content" width="20" height="20">
                                <use href="/img/sprite.svg#icon-filled-star"></use>
                            </svg>
                    </span>
                </li>
                    <li>
                    <span class="feedback-star">
                            <svg class="feedback-star-content" width="20" height="20">
                                <use href="/img/sprite.svg#icon-filled-star"></use>
                            </svg>
                    </span>
                </li>
                    <li>
                    <span class="feedback-star">
                        <span class="feedback-star">
                            <svg class="feedback-star-content" width="20" height="20">
                                <use href="/img/sprite.svg#icon-filled-star"></use>
                            </svg>
                        </span>
                    </span>
                </li>
            </ul>                <p class="feedback-item-text">Сумка дуже зручна та стильна, використовую щодня!</p>
                <p class="feedback-item-author">Анна</p>
            </li>
            <li class="feedback-item">
                <ul class="feedback-item-grade">
                    <li>
                    <span class="feedback-star">
                        <svg class="feedback-star-content" width="20" height="20">
                            <use href="/img/sprite.svg#icon-filled-star"></use>
                        </svg>
                    </span>
                </li>
                    <li>
                    <span class="feedback-star">
                        <span class="feedback-star">
                            <svg class="feedback-star-content" width="20" height="20">
                                <use href="/img/sprite.svg#icon-filled-star"></use>
                            </svg>
                        </span>
                    </span>
                </li>
                    <li>
                    <span class="feedback-star">
                        <span class="feedback-star">
                            <svg class="feedback-star-content" width="20" height="20">
                                <use href="/img/sprite.svg#icon-filled-star"></use>
                            </svg>
                        </span>
                    </span>
                </li>
                    <li>
                    <span class="feedback-star">
                        <span class="feedback-star">
                            <svg class="feedback-star-content" width="20" height="20">
                                <use href="/img/sprite.svg#icon-filled-star"></use>
                            </svg>
                        </span>
                    </span>
                </li>
                    <li>
                    <span class="feedback-star">
                        <span class="feedback-star">
                            <svg class="feedback-star-content" width="20" height="20">
                                <use href="/img/sprite.svg#icon-filled-star"></use>
                            </svg>
                        </span>
                    </span>
                </li>
            </ul>                <p class="feedback-item-text">Відмінна якість матеріалів, приємно здивована.</p>
                <p class="feedback-item-author">Ігор</p>
            </li>
            <li class="feedback-item">
                <ul class="feedback-item-grade">
                    <li>
                    <span class="feedback-star">
                        <svg class="feedback-star-content" width="20" height="20">
                            <use href="/img/sprite.svg#icon-filled-star"></use>
                        </svg>
                    </span>
                </li>
                    <li>
                    <span class="feedback-star">
                        <span class="feedback-star">
                            <svg class="feedback-star-content" width="20" height="20">
                                <use href="/img/sprite.svg#icon-filled-star"></use>
                            </svg>
                        </span>
                    </span>
                </li>
                    <li>
                    <span class="feedback-star">
                        <span class="feedback-star">
                            <svg class="feedback-star-content" width="20" height="20">
                                <use href="/img/sprite.svg#icon-filled-star"></use>
                            </svg>
                        </span>
                    </span>
                </li>
                    <li>
                    <span class="feedback-star">
                        <span class="feedback-star">
                            <svg class="feedback-star-content" width="20" height="20">
                                <use href="/img/sprite.svg#icon-filled-star"></use>
                            </svg>
                        </span>
                    </span>
                </li>
                    <li>
                    <span class="feedback-star">
                        <span class="feedback-star">
                            <svg class="feedback-star-content" width="20" height="20">
                                <use href="/img/sprite.svg#icon-filled-star"></use>
                            </svg>
                        </span>
                    </span>
                </li>
            </ul>                <p class="feedback-item-text">Сумка повністю відповідає опису, рекомендую!</p>
                <p class="feedback-item-author">Олена</p>
            </li>
            <li class="feedback-item">
                <ul class="feedback-item-grade">
                    <li>
                    <span class="feedback-star">
                        <svg class="feedback-star-content" width="20" height="20">
                            <use href="/img/sprite.svg#icon-filled-star"></use>
                        </svg>
                    </span>
                </li>
                    <li>
                    <span class="feedback-star">
                        <span class="feedback-star">
                            <svg class="feedback-star-content" width="20" height="20">
                                <use href="/img/sprite.svg#icon-filled-star"></use>
                            </svg>
                        </span>
                    </span>
                </li>
                    <li>
                    <span class="feedback-star">
                        <span class="feedback-star">
                            <svg class="feedback-star-content" width="20" height="20">
                                <use href="/img/sprite.svg#icon-filled-star"></use>
                            </svg>
                        </span>
                    </span>
                </li>
                    <li>
                    <span class="feedback-star">
                        <span class="feedback-star">
                            <svg class="feedback-star-content" width="20" height="20">
                                <use href="/img/sprite.svg#icon-filled-star"></use>
                            </svg>
                        </span>
                    </span>
                </li>
                    <li>
                    <span class="feedback-star">
                        <span class="feedback-star">
                            <svg class="feedback-star-content" width="20" height="20">
                                <use href="/img/sprite.svg#icon-hollow-star"></use>
                            </svg>
                        </span>
                    </span>
                </li>
            </ul>
                <p class="feedback-item-text">Швидка доставка та гарне обслуговування.</p>
                <p class="feedback-item-author">Сергій</p>
    </div>
</section>