<section class="gallery-section" id="gallery">
  <div class="container">
    <div class="div-text" lang="en">
      <h2 class="section-title">Галерея зображень</h2>
      <h3 class="h-three"><span lang="en">EcoTotes</span> у повсякденному житті</h3>
  </div>

    <div class="list-gallery">
    <ul class="ul-gallery-small">

      <li class="li-gallery-small img-small hidden-tab hidden-des-chair">
        <div class="ul-li-div-small">
          <picture class="picture-two">
          <source
            srcset="
            /img/gallery-img/bag-on-a-chair-1x-des.jpg 1x, 
            /img/gallery-img/bag-on-a-chair-2x-des.jpg 2x"
            media="(min-width: 1440px)"
          />
          <source
            srcset="
            /img/gallery-img/bag-on-a-chair-1x-tab.jpg 1x, 
            /img/gallery-img/bag-on-a-chair-2x-tab.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="
            /img/gallery-img/bag-on-a-chair-1x-mob.jpg 1x, 
            /img/gallery-img/bag-on-a-chair-2x-mob.jpg 2x"
            media="(min-width: 320px)"
          />
          <img
            src="/img/gallery-img/bag-on-a-chair-basic.jpg"
            alt="Bag on a chair"
            class="img-small"
          />
          </picture>
        </div>
      </li>
      
      <li class="li-gallery-small img-small hidden-mob">
        <div class="ul-li-div">
          <picture class="picture-one">
          <source
            srcset="
            /img/gallery-img/girl-vegetables-des-1x-min.jpg 1x,
            /img/gallery-img/girl-vegetable-des-2x-min.jpg 2x"
            media="(min-width: 1440px)"
          />
          <source
            srcset="
            /img/gallery-img/girl-vegetable-tab-1x-min.jpg 1x, 
            /img/gallery-img/girl-vegetable-tab-2x-min.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="
            /img/gallery-img/girl-vegetable-mob-1x-min.jpg 1x, 
            /img/gallery-img/girl-vegetable-mob-2x-min.jpg 2x"
            media="(min-width: 320px)"
          />
          <img
            src="../img/gallery-img/girl-vegetables-basic-min.jpg"
            alt="Girl with vegetables on a bag"
            class="img-small"
          />
          </picture>
        </div>
      </li>

      <li class="li-gallery img-large hidden-des no-hidden-des">
        <div class="ul-li-div-small">
          <picture class="picture-three">
          <source
            srcset="
            /img/gallery-img/man-with-a-bag-1x-des.jpg 1x, 
            /img/gallery-img/man-with-a-bag-2x-des.jpg 2x"
            media="(min-width: 1440px)"
          />
          <source
            srcset="
            /img/gallery-img/man-with-a-bag-1x-tab.jpg 1x, 
            /img/gallery-img/man-with-a-bag-2x-tab.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="
            /img/gallery-img/man-with-a-bag-1x-mob.jpg 1x, 
            /img/gallery-img/man-with-a-bag-2x-mob.jpg 2x"
            media="(min-width: 320px)"
          />
          <img
            src="
            /img/gallery-img/man-with-a-bag-basic.jpg"
            alt="Man with a bag"
            class="img-large"
          />
          </picture>
        </div>
      </li>

      <li class="li-gallery-small img-small hidden-tab hidden-mob">
        <div class="ul-li-div-small">
          <picture class="picture-two">
          <source
            srcset="
            /img/gallery-img/bag-on-a-chair-1x-des.jpg 1x, 
            /img/gallery-img/bag-on-a-chair-2x-des.jpg 2x"
            media="(min-width: 1440px)"
          />
          <source
            srcset="
            /img/gallery-img/bag-on-a-chair-1x-tab.jpg 1x, 
            /img/gallery-img/bag-on-a-chair-2x-tab.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="
            /img/gallery-img/bag-on-a-chair-1x-mob.jpg 1x, 
            /img/gallery-img/bag-on-a-chair-2x-mob.jpg 2x"
            media="(min-width: 320px)"
          />
          <img
            src="/img/gallery-img/bag-on-a-chair-basic.jpg"
            alt="Bag on a chair"
            class="img-small"
          />
          </picture>
        </div>
      </li>

        <li class="li-gallery img-large hidden-des">
          <div class="ul-li-div-small">
            <picture class="picture-three">
          <source
            srcset="
            /img/gallery-img/man-with-a-bag-1x-des.jpg 1x, 
            /img/gallery-img/man-with-a-bag-2x-des.jpg 2x"
            media="(min-width: 1440px)"
          />
          <source
            srcset="
            /img/gallery-img/man-with-a-bag-1x-tab.jpg 1x, 
            /img/gallery-img/man-with-a-bag-2x-tab.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="
            /img/gallery-img/man-with-a-bag-1x-mob.jpg 1x, 
            /img/gallery-img/man-with-a-bag-2x-mob.jpg 2x"
            media="(min-width: 320px)"
          />
          <img
            src="
            /img/gallery-img/man-with-a-bag-basic.jpg"
            alt="Man with a bag"
            class="img-large"
          />
            </picture>
          </div>
        </li>
      </ul>

      <ul class="ul-gallery">
      <li class="li-gallery img-large hidden-tab">
        <div class="ul-li-div-small">
          <picture class="picture-three">
          <source
            srcset="
            /img/gallery-img/man-with-a-bag-1x-des.jpg 1x, 
            /img/gallery-img/man-with-a-bag-2x-des.jpg 2x"
            media="(min-width: 1440px)"
          />
          <source
            srcset="
            /img/gallery-img/man-with-a-bag-1x-tab.jpg 1x, 
            /img/gallery-img/man-with-a-bag-2x-tab.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="
            /img/gallery-img/man-with-a-bag-1x-mob.jpg 1x, 
            /img/gallery-img/man-with-a-bag-2x-mob.jpg 2x"
            media="(min-width: 320px)"
          />
          <img
            src="
            /img/gallery-img/man-with-a-bag-basic.jpg"
            alt="Man with a bag"
            class="img-large"
          />
          </picture>
        </div>
      </li>

      <li class="li-gallery-small img-small hidden-des no-hidden-des">
        <div class="ul-li-div-small">
          <picture class="picture-two">
          <source
            srcset="
            /img/gallery-img/bag-on-a-chair-1x-des.jpg 1x, 
            /img/gallery-img/bag-on-a-chair-2x-des.jpg 2x"
            media="(min-width: 1440px)"
          />
          <source
            srcset="
            /img/gallery-img/bag-on-a-chair-1x-tab.jpg 1x, 
            /img/gallery-img/bag-on-a-chair-2x-tab.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="
            /img/gallery-img/bag-on-a-chair-1x-mob.jpg 1x, 
            /img/gallery-img/bag-on-a-chair-2x-mob.jpg 2x"
            media="(min-width: 320px)"
          />
          <img
            src="/img/gallery-img/bag-on-a-chair-basic.jpg"
            alt="Bag on a chair"
            class="img-small position"
          />
          </picture>
        </div>
      </li>

      <li class="li-gallery img-large">
        <div class="ul-li-div">
          <picture class="picture-four">
          <source
            srcset="
            /img/gallery-img/girl-with-bag-1x-des.jpg 1x, 
            /img/gallery-img/girl-with-bag-2x-des.jpg 2x"
            media="(min-width: 1440px)"
          />
          <source
            srcset="
            /img/gallery-img/girl-with-bag-1x-tab.jpg 1x, 
            /img/gallery-img/girl-with-bag-2x-tab.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="
            /img/gallery-img/girl-with-bag-1x-mob.jpg 1x, 
            /img/gallery-img/girl-with-bag-2x-mob.jpg 2x"
            media="(min-width: 320px)"
          />
          <img
            src="/img/gallery-img/girl-with-bag-basic.jpg"
            alt="A girl walks with a bag"
            class="img-large position-a"
          />
          </picture>
        </div>
      </li>

      <li class="li-gallery-small img-small  hidden-des no-hidden-mob">
        <div class="ul-li-div">
          <picture class="picture-one">
          <source
            srcset="
            /img/gallery-img/girl-vegetables-des-1x-min.jpg 1x,
            /img/gallery-img/girl-vegetable-des-2x-min.jpg 2x"
            media="(min-width: 1440px)"
          />
          <source
            srcset="
            /img/gallery-img/girl-vegetable-tab-1x-min.jpg 1x, 
            /img/gallery-img/girl-vegetable-tab-2x-min.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="
            /img/gallery-img/girl-vegetable-mob-1x-min.jpg 1x, 
            /img/gallery-img/girl-vegetable-mob-2x-min.jpg 2x"
            media="(min-width: 320px)"
          />
          <img
            src="../img/gallery-img/girl-vegetables-basic-min.jpg"
            alt="Girl with vegetables on a bag"
            class="img-small"
          />
          </picture>
        </div>
      </li>

    </ul>

    </div>
  </div>
</section>
