<header class="page-header">
    <div class="container header-container">
        <nav class="header-nav">
            <a class="header-logo" href="./index.html">
                <svg class="icon icon-logo" width="104" height="39"><use xlink:href="./img/header/svg-header.svg#icon-logo"></use></svg>
            </a>
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="nav-link" href="#about">Про нас</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#advantages">Переваги</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#products">Асорстимент</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#gallery">Галерея</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#reviews">Відгуки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contacts">Контакти</a>
                </li>
            </ul>
        <address class="contacts">
            <ul class="contacts-list">
                <li class="contacts-item"><a class="contacts-link" href="tel:+380999091122">+38 (099) 909 11 22</a></li>
                <li class="contacts-item"><a class="contacts-link" href="mailto:hello@ecotote.com">hello@ecotote.com</a></li>
            </ul>
        </address>
        </nav>

        <button class="burger-btn" type="button">
            <svg class="burger-icon" width="24" height="24">
              <use href="./img/header/svg-header.svg#icon-burger"></use>
            </svg>
        </button>
    </div> 

    <div class="mobile-menu hidden">
        <div class="container-menu mobile-menu-container">

            <a class="header-logo" href="./index.html">
                <svg class="icon icon-logo" width="104" height="45"><use xlink:href="./img/header/svg-header.svg#icon-logo"></use></svg>
            </a>
            <button class="mobile-menu-close">
        <svg class="close-icon" width="16" height="16">
          <use href="./img/header/svg-header.svg#icon-icon-close"></use>
        </svg>
             </button>


    <nav class="mobile-menu-nav">
            <ul class="nav-list-menu">
                <li class="nav-item-menu">
                    <a class="nav-link" href="#about">Про нас</a>
                </li>
                <li class="nav-item-menu">
                    <a class="nav-link" href="#advantages">Переваги</a>
                </li>
                <li class="nav-item-menu">
                    <a class="nav-link" href="#products">Асортимент</a>
                </li>
                <li class="nav-item-menu">
                    <a class="nav-link" href="#gallery">Галерея</a>
                </li>
                <li class="nav-item-menu">
                    <a class="nav-link" href="#reviews">Відгуки</a>
                </li>
                <li class="nav-item-menu">
                    <a class="nav-link" href="#contacts">Контакти</a>
                </li>
            </ul>
    </nav>

        <address class="contacts-menu">
            <ul class="contacts-list-menu">
                <li class="contacts-item-menu"><a class="contacts-link-menu" href="tel:+380999091122">+38 (099) 909 11 22</a></li>
                <li class="contacts-item-menu"><a class="contacts-link-menu" href="mailto:hello@ecotote.com">hello@ecotote.com</a></li>
            </ul>
        </address>
        </div>
    </div>
</header>