<!-- !!!section HERO!!! -->
<section class="hero section">
  <!-- Українською: Тематична група контенту / English: Thematic content group -->
  <div class="container">
    <!-- Українською: Універсальний контейнер / English: Universal container -->
    <div class="hero-wrapper">
      <div class="hero-row-header">
        <h1 class="hero-title" id="studio">
          <span lang="en">EcoTote</span> — Стиль, що не шкодить планеті
        </h1>
      </div>
      <div class="hero-row-descr">
        <p class="hero-text">
          <!-- Українською: Абзац / English: Paragraph -->
          Екологічні сумки для тих, хто дбає про майбутнє. Обирайте стиль та
          відповідальність разом з <span lang="en">EcoTote.</span>
        </p>
        <a class="hero-btn" href="#products" aria-label="Купити продукцію">
          <!-- Українською:  посилання / English:  link -->
          Купити зараз
        </a>
      </div>
    </div>

    <picture class="hero-img">
      <!-- Українською: Адаптивне зображення / English: Responsive image -->

      <source
        srcset="
          /img/hero/hero/jpg/@1x/hero@1x.jpg 1x,
          /img/hero/hero/jpg/@2x/hero@2x.jpg 2x
        "
        type="image/jpeg"
        media="(min-width: 1440px)"
        width="1312"
      />
      <source
        srcset="
          /img/hero/hero/jpg/@1x/hero@1x.jpg 1x,
          /img/hero/hero/jpg/@2x/hero@2x.jpg 2x
        "
        type="image/jpeg"
        media="(min-width: 768px)"
        width="704"
      />
      <source
        srcset="
          /img/hero/placeholder-image/jpg/@1x/placeholder-image@1x.jpg 1x,
          /img/hero/placeholder-image/jpg/@2x/placeholder-image@2x.jpg 2x
        "
        type="image/jpeg"
        media="(max-width: 767px)"
        width="288"
      />

      <img
        class="hero-img"
        src="/img/hero/hero/jpg/@1x/hero@1x.jpg"
        alt="Екологічні сумки EcoTote різних кольорів та розмірів"
        aria-label="Головне зображення екологічних сумок EcoTote"
        width="288"
      />
      <!-- Українською: Зображення / English: Image -->
    </picture>
    <!-- Українською: Зображення / English: Image -->
  </div>
</section>
