<section class="contact-section">
  <div class="container">
    <div class="contact-wrapper">
      <div class="contact-form">
        <h3>Залишились питання?<br />Зв'яжіться з нами!</h3>
        <p>Ми тут, щоб допомогти!</p>
        <form>
          <div class="form-wrapper">
            <label for="name" class="form-label">Ім'я</label>
            <input
              class="form-name-input"
              type="text"
              id="name"
              name="name"
              placeholder="Іван"
              required
            />
          </div>
          <div class="form-wrapper">
            <label for="email" class="form-label">Електронна пошта</label>
            <input
              class="form-input-email"
              type="email"
              id="email"
              name="email"
              placeholder="hello@ecotote.com"
              required
            />
            <span class="error-text">Невірний формат email</span>
          </div>
          <div class="form-user-comment">
            <label for="message" class="form-label">Повідомлення</label>
            <textarea
              class="form-input-user-comment"
              id="message"
              name="message"
              placeholder="Введіть своє повідомлення..."
              required
            ></textarea>
          </div>
          <button type="submit" class="submit-btn">Надіслати</button>
        </form>
      </div>
      <div class="contact-image"></div>
    </div>
  </div>
</section>
