.container {
    margin: 0 auto;
}

.hidden {
    display: none;
}

.page-header {
    background: var(--header-footer-background);
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 12px 0px 20px; 
    height: 64px;
}

.nav-list,
.contacts {
    display: none;
}

.icon-logo {
    fill: var(--btn-background-darkest);
}

.header-logo {
  display: flex;
  align-items: center;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: var(--btn-background-darkest);
}


@media screen and (min-width: 768px) {

    .header-container {
        padding: 0px 16px 0px 32px;
    }
}

@media screen and (min-width: 1440px) {
    
    .burger-btn { 
        display: none;
    }

    .icon-logo {
    fill: var(--btn-background-darkest);
    width: 106px;
    height: 45px;
}

.header-nav {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 32px;
    justify-content: center;
    padding: 23px 0;
}

.nav-link {
    position: relative;

    font-family: var(--font-family);
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-color-primary);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
    display: flex;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 16px;
}

.contacts-item {
    font-family: var(--font-family);
    font-style: normal;
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-color-primary);
}

.nav-link:focus,
.nav-link:hover,
.contacts-link:hover,
.contacts-link:focus {
        border-bottom: 1px solid var(--text-color-primary);
}

.nav-link:active,
.contacts-link:active {
    color: var(--link-active);
    border-bottom: 1px solid var(--link-active);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link::after
.contacts-link::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;

    opacity: 0;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover::after,
.nav-link:focus::after,
.nav-link.current::after,
.contacts-link:active::after,
.contacts-link:focus::after,
.contacts-link.current::after {
    opacity: 1;
}

}


/*mobile menu*/

/*створити контейнер для лого і close
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 12px 0px 20px; 
    height: 64px;
*/

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--header-footer-background);
    
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.container-menu {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
    padding-top: 14px;
}

.mobile-menu-close {
    display: flex; 
    align-items: center;
    justify-content: center;
    border: none;
    position: absolute;
    width: 32px;
    height: 32px;
    top: 16px;
    right: 12px;
    fill: var(--btn-background-darkest);
    padding: 0;
    cursor: pointer;
    background-color: transparent;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
    fill: var(--btn-background-darkest);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-container {
    position: relative;
    padding-bottom: 92px;

    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.icon-logo {
    fill: var(--btn-background-darkest);
    width: 84px;
    height: 36px;
}

.header-logo {
    justify-content:space-between;
}

.nav-list-menu {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-color-primary);
    display: flex;
    flex-direction: column;
    gap: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 32px 20px;
    margin-top: 14px;
}

.contacts-list-menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px 0 16px 16px;
}

.contacts-item-menu {
    font-family: var(--font-family);
    font-style: normal;
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-color-primary);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:focus,
.nav-link:hover,
.contacts-link:hover,
.contacts-link:focus {
        border-bottom: 1px solid var(--btn-background-darkest);
}

.nav-link:active,
.contacts-link:active {
    color: var(--link-active);
    border-bottom: 1px solid var(--link-active);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link::after
.contacts-link::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;

    opacity: 0;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover::after,
.nav-link:focus::after,
.nav-link.current::after,
.contacts-link:active::after,
.contacts-link:focus::after,
.contacts-link.current::after {
    opacity: 1;
}


@media screen and (min-width: 768px) {
.mobile-menu-container {
    padding-bottom: 128px;
    max-width: 768px;
}
.icon-logo {
    fill: #030a06;
    width: 84px;
    height: 36px;
    top: 14px;
    left: 32px;
}

    
}

@media screen and (min-width: 1440px) {
    
    .icon-logo {
    fill: var(--btn-background-darkest);
    width: 106px;
    height: 45px;
}
}